
.navbar-brand{
  font-size: 20px;
}
.navbar-nav{
  font-size: 20px;
}
.top{
  height:100px;
  width: 250px;
}
.j1{
  background-image: url(images/page1.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 720px;

}
.j2{
  background-image: url(images/page2.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;

}
.j3{
  background-image: url(images/page3.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;

}
.j4{
  background-image: url(images/Services_1.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;

}
.j5{
  background-image: url(images/Services_2.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 950px;

}
.j6{
  background-image: url(images/Services_3.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;

}
.j7{
  background-image: url(images/Services_4.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;

}
.j8{
  background-image: url(images/contactus.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;

}
@media screen and (max-width: 900px) {
  .j1{
    height: 1000px;
  }
  .j2{
    height: 1500px;
  }
  .j3{
    height: 1800px;
  }
  .j4{
    height: 1700px;
  }
  .j5{
    height: 1800px;
  }
  .j6{
    height: 1500px;
  }
  .j7{
    height: 1500px;
  }
  .j8{
    height: 1700px;
  }
}
.white{
  color: white;
}
.p1{
  font-size: 45px;
  text-align: left;
}
.jumbotron{
  margin-bottom: 0;
}
.mission{
  color: red;
  text-decoration: underline;
}
.active{
  margin: 20px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
.aa{
  margin-top: 20px;
  margin-bottom: 20px;
}
.b1{

  font-family:'Cambria';
}
.b2{
  font-family: 'Times New Roman';
}
.left{
  text-align: left;
}
.backc{
  background-color: white;
}
.underline{
  text-decoration: underline;
}
.red{
  color: red;
}
.lineheight{
  line-height: 1;
}
.margin-bottom{
  margin-bottom: 2px;
}
.feat{
  width: 20%;
  border-radius: 10%;
  margin-right: 0;
  text-align: center;
}
.f{
  text-align: right;
}
.cen{
  text-align: center;
  font-size: 40px;
}
.btn{
  width: 50%;
  margin-left: 20%;
}
.form-control{
  text-align: center;
  border-color: black;
  border-radius: 10%;
  background: transparent;
}
.borders{
  border-color: black;
  border-radius: 10%;
  background: transparent;
}
.bigsize{
  font-size: 40px;
}
.bord{
  border-color: grey;
  border-width: 5px;
}
.bigsize{
  opacity: 0.8;
}
.op{
  opacity: 0.2;
}
.imgs{
  height: 80%;
  width: 100%;
}
